﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 1%;
    font-family: Comic Sans MS, Comic Sans MS5, cursive, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*--------------------------------------*/
.form-control {
    padding-left: 15px;
    padding-right: 15px;
    /*min-width: 100%*/
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin: 1% 2% 1%;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    font-size: 1.1em;
    color: #555555;
    /*width: 98%;*/
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav a:focus {
    color: #555555;
}

.form-control {
    width: 98%;
}

.form-control  {
    min-width: 78%;
}

.navbar-nav > li > a {
    padding: 6px;
    margin-right: 3px;
}
.container  {
    margin-left: 10px;
    margin-right: 10px;
}
.container > p  {
    text-align: justify;
}


/*a{
    border: 1px solid #aaa;
    text-decoration: none;
    font-family: Arial;
    color: black;
    padding: 1px 6px;
    font-size: 13px;
    background: #eee; 
}
a:hover {
    background: #D0F5F4;
}*/

